<footer class="text-center text-white body" >
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-3">
      
      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg m-1" href="https://www.instagram.com/godoy._.s/" role="button" data-mdb-ripple-color="dark"><img src="https://i.imgur.com/FpF3pln.png" alt="" width="40px"></a>

      <!-- Linkedin -->
      <a class="btn um cor btn-floating m-1" href="https://www.linkedin.com/in/sabrina-godoy-717773234/" role="button" data-mdb-ripple-color="dark"><img src="https://i.imgur.com/wz0ciJe.png" alt="" width="40px"></a>
      <!-- Github -->
      <a class="btn btn-link btn-floating btn-lg  m-1" href="https://github.com/Sabrinagodoy1" role="button" data-mdb-ripple-color="dark"><img src="https://i.imgur.com/WnsJq1I.png" alt="" width="40px"></a>
    
    </section>
    <a class="text-white" routerLink="projeto">Sobre o Projeto</a>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Projeto realizado por Sabrina Godoy
    
  </div>
  <!-- Copyright -->
</footer>
