@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap%27');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css%22");



.body{
        background-color: rgb(0, 11, 29);
    }
  

h2{
    font-family: "Baloo Da 2", serif;
    color: #ffffff;

}
h6{
    font-family: "Baloo Da 2", serif;
    color: #ffffff;
}
.bg{
    background-image: url("https://i.imgur.com/8ba74SC.jpg");
  
    min-height: 961px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1{
    font-family: "Baloo Da 2", serif;
    
    font-size: 55px;
}

button{
    margin-right: 20px;
    margin-top: 15px;
}
label{
     color: #ffffff;
    font-size: 30px;
    font-family: "Baloo Da 2", serif;
}