<div class="container-fluid bg">
  <div class="row d-flex">
    <div class="col-md-7">
      <a routerLink="/home" class="text-left">
        <img src="https://i.imgur.com/YnM5YOA.png" alt="" width="30px"> Home
      </a>
        <h1 class="text-white text-center mt-3">Sobre o Projeto</h1>
        <h5 class="text-white mb-4">O Blog Pessoal é um projeto realizado durante o bootcamp da Generation Brasil, onde utilizei várias
            ferramentas para construir e testar tanto o Back-end com java, Spring Boot, jUnit, Postman, tanto quanto o Front-end
            com Angular, TypeScript, Html, Css e Bootstrap entre mais algumas outras importantes ferramentas para a finalização do projeto.
        </h5>

        <h1 class="text-white text-center">Sobre mim  <img  class="img-fluid rounded-circle margem" src="https://i.imgur.com/2OjvVmW.jpg" alt="" width="60px"></h1>
        <h6 class="text-white mb-2">Eu me chamo Sabrina, tenho 18 anos e moro na Grande São Paulo. 
        Sempre fui uma pessoa bem curiosa e que ama aprender coisas novas. Atualmente essa curiosidade me trouxe para o mundo da tecnologia,
        e o que vem me ajudando a desbravar esse mundo é o curso da Generetion Brasil, de pessoa Desenvolvedora Full Stack Java Junior onde
        venho aprendendo não somente hard skill como  angular, html, mysql entre outros, mas  também aprendi Soft Skills como persistência,
         importância do trabalho em equipe, comunicação assertiva e orientação ao detalhe. E nele consegui desenvolver 2 projetos um com a ODS
        1 pela erradiação da pobreza  por um E-commerce e outro sendo esse lindo bloguinho que você esta utilizando.</h6>
        <h5 class="text-white mb-3 text-center" style="color: gold">Entre em contato comigo pelos icones abaixo:</h5>
       <div class="d-flex justify-content-center">
        
       <a href="https://www.linkedin.com/in/sabrina-godoy-717773234/"><img class="margem" src="https://i.imgur.com/wz0ciJe.png" alt="" width="40px"></a>
        <a href="https://github.com/Sabrinagodoy1"><img class="margem" src="https://i.imgur.com/WnsJq1I.png" alt="" width="40px"></a>
        <a href="https://www.instagram.com/godoy._.s/"><img class="margem" src="https://i.imgur.com/FpF3pln.png" alt="" width="40px"></a>
       </div>

</div>
<div class="col-md-5 po">
  <img  class="po" src="https://i.imgur.com/Qv4lri7.jpg" alt="">
</div>
</div>
</div>